<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h1>Demande de mission</h1>
            <br>
            <form>

                <!-- Date de début -->
                <div class="form-group">
                    <label for="inlineFormInputGroupddd">Date de début </label>
                    <div class="input-group" id="inputGroupFormMission">
                        <input id="inlineFormInputGroupddd" class="form-control" id="dateDebut" placeholder="yyyy-mm-dd" name="ddd" (ngModel)="model" ngbDatepicker #d="ngbDatepicker">
                        <button class="input-group-addon" (click)="d.toggle()" type="button" id="button_dtd">
                          <img src="/assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </button>
                    </div>
                </div>

                <!-- Date de fin -->
                <div class="form-group">
                    <label for="inlineFormInputGroupddf">Date de fin </label>
                    <div class="input-group" id="inputGroupFormMission">
                        <input id="inlineFormInputGroupddf" class="form-control" id="dateFin" placeholder="yyyy-mm-dd" name="ddf" (ngModel)="model" ngbDatepicker #df="ngbDatepicker">
                        <button class="input-group-addon" (click)="df.toggle()" type="button" id="button_dtd">
                          <img src="/assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </button>
                    </div>
                </div>

                <!-- Nature -->
                <div class="form-group">
                    <label for="inlineFormInputGroupddd">Nature </label>
                    <div class="input-group" id="inputGroupFormMission">
                        <select class="custom-select">
                            <option selected>(Nature)</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>

                <!-- Ville de départ -->
                <div class="form-group">
                    <label class="col-form-label" for="formGroupExampleInput">Ville de départ</label>
                    <div class="input-group" id="inputGroupFormMission">
                        <input type="text" name="ville_depart" class="form-control" id="ville_de_depart" placeholder="Ville de départ">
                    </div>
                </div>

                <!-- Ville d'arriver -->
                <div class="form-group">
                    <label class="col-form-label" for="formGroupExampleInput">Ville d'arriver</label>
                    <div class="input-group" id="inputGroupFormMission">
                        <input type="text" name="ville_arriver" class="form-control" id="ville_darriver" placeholder="Ville de départ">
                    </div>
                </div>

                <!-- Transport -->
                <div class="form-group">
                    <label for="inlineFormInputGroupddd">Transport </label>
                    <div class="input-group" id="inputGroupFormMission">
                        <select class="custom-select">
                            <option selected>(Transport)</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>

                <!-- Prime -->
                <div class="form-group">
                    <label for="inlineFormInputGroupddd">Estimation Prime </label>
                    <div class="input-group" id="inputGroupFormMission">
                        0 €
                    </div>
                </div>

                <br><br><br>

                <!-- Button Annuler / Valider -->
                <div class="form-group">
                    <div class="input-group" id="inputGroupFormMission">
                        <button type="button" class="btn btn-danger" id="btn_danger">Annuler</button>
                    </div>

                    <div class="input-group" id="inputGroupFormMission">
                        <button type="button" class="btn btn-success" id="btn_success">Valider</button>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>