<div class="row">
    <h1 align="center">Demande de mission</h1>
</div>

<form [formGroup]="missionForm">
    <div class="col-8 offset-2">
        <div class="row form-group">
            <!-- Date de début -->
            <label class="col-5" for="inlineFormInputGroupddd">Date de début </label>
            <div class="input-group col-5 offset-1" id="inputGroupFormMission">
                <input id="inlineFormInputGroupddd" class="form-control" id="dateDebut" placeholder="dd/mm/yyyy" name="ddd" ngbDatepicker
                    #ddd="ngbDatepicker" date-format="DD/MM/YYYY" formControlName="dateDebut">
                <button class="input-group-addon" (click)="ddd.toggle()" type="button" id="button_dtd">
                    <img src="/assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                </button>
            </div>
        </div>
        <div class="row form-group">
            <!-- Date de fin -->
            <label class="col-5" for="inlineFormInputGroupddf">Date de fin </label>
            <div class="input-group col-5 offset-1" id="inputGroupFormMission">
                <input id="inlineFormInputGroupddf" class="form-control" id="dateFin" placeholder="dd/mm/yyyy" name="ddf" ngbDatepicker #ddf="ngbDatepicker"
                    date-format="DD/MM/YYYY" formControlName="dateFin">
                <button class="input-group-addon" (click)="ddf.toggle()" type="button" id="button_dtd">
                    <img src="/assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                </button>
            </div>
        </div>
        <div class="row form-group">
            <!-- Nature -->
            <label class="col-5" for="inlineFormInputGroupddd">Nature </label>
            <div class="col-5 offset-1" id="inputGroupFormMission">
                <select class="custom-select select-input" formControlName="nature">
                    <option *ngFor="let nature1 of tabNature" [value]="nature1|json" [selected]="natureSelected(nature1.id)">{{nature1.nom}}</option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <!-- Ville de départ -->
            <label class="col-form-label col-5" for="formGroupExampleInput">Ville de départ</label>
            <div class="col-5 offset-1" id="inputGroupFormMission">
                <input ngui-auto-complete [(ngModel)]="depart" [source]="mapApi.observableSource.bind(this)" list-formatter="formatted_address"
                    name="ville_depart" class="form-control ville-input" id="ville_de_depart" placeholder="Ville de départ" formControlName="vdd"
                />
            </div>
        </div>
        <div class="row form-group">
            <!-- Ville d'arrivée -->
            <label class="col-form-label col-5" for="formGroupExampleInput">Ville d'arrivée</label>
            <div class="col-5 offset-1" id="inputGroupFormMission">
                <input ngui-auto-complete [(ngModel)]="arrivee" [source]="mapApi.observableSource.bind(this)" list-formatter="formatted_address"
                    name="ville_arrivee" class="form-control ville-input" id="ville_d_arrivee" placeholder="Ville d'arrivée"
                    formControlName="vda" />
            </div>
        </div>
        <div class="row form-group">
            <!-- Transport -->
            <label class="col-5" for="inlineFormInputGroupddd">Transport </label>
            <div class="col-5 offset-1" id="inputGroupFormMission">
                <select class="custom-select select-input" formControlName="transport">
                    <option *ngFor="let transport1 of tabTransport" [value]="transport1|json" [selected]="transportSelected(transport1.id)">{{transport1.modeTransport}}</option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <!-- Prime -->
            <label class="col-5" for="inlineFormInputGroupddd">Estimation Prime </label>
            <div class="input-group col-5 offset-1" id="inputGroupFormMission">
                0 €
            </div>
        </div>
        <div class="row form-group">
            <ul class="list-group col-12">
                <li class="list-group-item list-group-item-danger" *ngIf="dateDebut.invalid && (dateDebut.dirty || dateDebut.touched)">La date de début doit être renseignée</li>
                <li class="list-group-item list-group-item-danger" *ngIf="dateFin.invalid && (dateFin.dirty || dateFin.touched)">La date de fin doit être renseignée</li>
                <li class="list-group-item list-group-item-danger" *ngIf="nature.invalid && (nature.dirty || nature.touched)">La nature doit être renseignée</li>
                <li class="list-group-item list-group-item-danger" *ngIf="transport.invalid && (transport.dirty || transport.touched)">Le transport doit être renseignée</li>
                <li class="list-group-item list-group-item-danger" *ngIf="vdd.invalid && (vdd.dirty || vdd.touched)">La ville de départ doit être renseignée</li>
                <li class="list-group-item list-group-item-danger" *ngIf="vda.invalid && (vda.dirty || vda.touched)">La ville d'arrivée doit être renseignée</li>
                <div *ngIf="missionForm.errors">
                    <li class="list-group-item list-group-item-danger" *ngIf="missionForm.errors.dateDebutValidator">{{missionForm.errors.dateDebutValidator.value}}</li>
                    <li class="list-group-item list-group-item-danger" *ngIf="missionForm.errors.dateFinValidator">{{missionForm.errors.dateFinValidator.value}}</li>
                    <li class="list-group-item list-group-item-danger" *ngIf="missionForm.errors.dateWeekEndValidator">{{missionForm.errors.dateWeekEndValidator.value}}</li>
                </div>
            </ul>

        </div>
        <div class="row">
            <!-- Button Annuler / Valider -->
            <a routerLink="/missions" class="offset-5">
                <button type="button" class="btn btn-danger" id="btn_danger">Annuler</button>
            </a>
            <button type="button" class="btn btn-success offset-1" id="btn_success" (click)="sauvegarder()" [disabled]="missionForm.invalid">Valider</button>
        </div>
    </div>
</form>