#button_dtd {
    margin-right: 68%;
}

#inputGroupFormMission {
    margin-left: 30%;
    margin-top: -6.5%;
}

#ville_de_depart {
    margin-right: 65%;
}

#ville_darriver {
    margin-right: 65%;
}

#btn_success {
    margin-left: 23%;
}

#btn_danger {
    margin-left: -10%;
}