<link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
<h1>Gestion des Missions</h1>

<table class="table table-hover table-bordered">
    <thead>
        <th>
            Date de début
            <a (click)="sortMissionsDateDebut()">
                <i class="fa fa-sort" aria-hidden="true"></i>
            </a>
        </th>
        <th>
            Date de Fin
            <a (click)="sortMissionsDateFin()">
                <i class="fa fa-sort" aria-hidden="true"></i>
            </a>
        </th>
        <th>Nature</th>
        <th>Départ</th>
        <th>Arrivée</th>
        <th>Transport</th>
        <th>Statut
            <a (click)="sortMissionStatut()">
                <i class="fa fa-sort" aria-hidden="true"></i>
            </a>
        </th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let mission of missions">
            <td>{{mission.dateDebut | date :'dd-MM-yyyy' }}</td>
            <td>{{mission.dateFin | date :'dd-MM-yyyy'}}</td>
            <td>{{mission.nature.nom}}</td>
            <td>{{mission.villeDepart}}</td>
            <td>{{mission.villeArrivee}}</td>
            <td>{{mission.transport.modeTransport}}</td>
            <td>{{mission.statut}}</td>
            <td>
                <a routerLink="/missions/{{mission.id}}/modifier" RouterLinkActive="active-link" *ngIf='(mission.statut == "INITIALE" || mission.statut == "REJETEE")' class="btn-outline-primary">
                    <img src="/assets/open-iconic-master/svg/pencil.svg" style="width: 2rem; height: 1rem; cursor: pointer;" />
                </a>
                <button (click)="open(content, mission)" class="btn-outline-danger" *ngIf='(mission.statut == "INITIALE" || mission.statut == "EN_ATTENTE_VALIDATION")'>
                    <img src="/assets/open-iconic-master/svg/trash.svg" style="width: 2rem; height: 1rem; cursor: pointer;" />
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="offset-md-9 col-md-3">Demander une mission
    <a routerLink="/missions/ajouter" RouterLinkActive="active-link" class="btn btn-primary">
        <img src="/assets/open-iconic-master/svg/plus.svg" style="width: 2rem; height: 1rem; cursor: pointer;" />
    </a>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Confirmation de suppression</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Voulez-vous supprimer la mission suivante ?</p>
        <p>Date de debut : {{missionASupprimer.dateDebut | date :'dd-MM-yyyy' }}</p>
        <p>Date de fin : {{missionASupprimer.dateFin | date :'dd-MM-yyyy' }}</p>
        <p>Nature de mission : {{missionASupprimer.nature.nom}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-success" (click)="c(supprimer(missionASupprimer.id))">Valider</button>
    </div>
</ng-template>