<div class="container">
  <div class="row text-center">
      <h1>Gestion des notes de frais</h1>

      <table class="table table-hover table-bordered ">
          <thead>
              <tr>
                  <th>Date de début</th>
                  <th>Date de fin</th>
                  <th>Nature</th>
                  <th>Départ</th>
                  <th>Arriver</th>
                  <th>Transport</th>
                  <th>Frais</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>22/05/2017</td>
                  <td>26/05/2017</td>
                  <td>Conseil</td>
                  <td>Nantes</td>
                  <td>Lyon</td>
                  <td>Avion</td>
                  <td>0 <img src="/assets/open-iconic-master/svg/euro.svg"style=" height: 1rem"/></td>
                  <td>
                      <img src="/assets/open-iconic-master/svg/plus.svg" style="width: 2rem; height: 1rem;"/>
                      <img src="/assets/open-iconic-master/svg/data-transfer-download.svg" style="width: 2rem; height: 1rem; cursor: pointer;" />
                  </td>
              </tr>
              <tr>
                <td>02/10/2017</td>
                <td>06/10/2017</td>
                <td>Formation</td>
                <td>Nantes</td>
                <td>Rennes</td>
                <td>Covoiturage</td>
                <td>0 <img src="/assets/open-iconic-master/svg/euro.svg"style=" height: 1rem"/></td>
                <td>
                    <img src="/assets/open-iconic-master/svg/plus.svg" style="width: 2rem; height: 1rem;"/>
                    <img src="/assets/open-iconic-master/svg/data-transfer-download.svg" style="width: 2rem; height: 1rem; cursor: pointer;" />
                </td>
            </tr>
          </tbody>
      </table>
  </div>
</div>