<div class="container">
  <h1 class="text-center">Saisie des notes de frais</h1>
  <div class="row">
    <!-- Date de début -->
    <label class="col-5" for="inlineFormInputGroupddd">Date de début </label>
    {{mission?.dateDebut.year}}/{{mission?.dateDebut.monthValue}}/{{mission?.dateDebut.dayOfMonth}}
</div>
  <table class="table table-hover table-bordered ">
      <thead>
          <tr>
              <th>Date</th>
              <th>Nature</th>
              <th>Frais</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                  <i class="fa fa-pencil"></i>
                  <i class="fa fa-trash"></i>
              </td>
          </tr>
      </tbody>
  </table>
  Ajouter un frais <i class ="fa fa-plus-square"></i>
</div>