<div class="container">
    <h1 class="text-center">Saisie des notes de frais</h1>
    <div class="row">
        <!-- Date de début -->
        <label class="col-2">Date de début</label>
        <div class="col-2">{{mission?.dateDebut | date : 'dd-MM-yyyy'}}</div>
        <label class="offset-2 col-2">Estimation prime </label>
        <div class="col-2">0</div>
    </div>
    <div class="row">
        <!-- Date de fin  -->
        <label class="col-2">Date de fin </label>
        <div class="col-2">{{mission?.dateFin | date : 'dd-MM-yyyy'}}</div>
        <label class="offset-2 col-2">Ville de départ </label>
        <div class="col-2">{{mission?.villeDepart}}</div>
    </div>

    <div class="row">
        <!-- Nature  -->
        <label class="col-2">Nature</label>
        <div class="col-2">{{mission?.nature.nom}}</div>
        <label class="offset-2 col-2">Ville d'arrivée </label>
        <div class="col-2">{{mission?.villeArrivee}}</div>
    </div>

    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>Date</th>
                <th>Nature</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let note of notes">
                <td>{{note?.date | date :'dd-MM-yyyy'}}</td>
                <td>{{note?.nature.nom}}</td>
                <td>{{note?.montant}}</td>
                <td>
                    <button (click)="openModifier(content, note)" class="btn-outline-info">
                                <img src="/assets/open-iconic-master/svg/pencil.svg" style="width: 2rem; height: 1rem; cursor: pointer;" />
                            </button>
                    <button (click)="openSupprimer(contentSup, note)" class="btn-outline-danger">
                    <img src="/assets/open-iconic-master/svg/trash.svg" style="width: 2rem; height: 1rem; cursor: pointer;" />
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="offset-md-9 col-md-3">Ajouter un frais
        <a (click)="openAjout(content)" style="padding-bottom: 5px;" class="btn-primary"><img src="/assets/open-iconic-master/svg/plus.svg" style="width: 2rem; height: 1rem; cursor: pointer;" /></a>
    </div>

    <ng-template #contentSup let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-title">Confirmation de suppression</h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body">
            <p>Confirmez-vous la suppression du frais suivant ? </p>
            <p>- Date : {{noteASupprimer.date | date :'dd-MM-yyyy' }}</p>
            <p>- Nature : {{noteASupprimer.nature.nom}}</p>
            <p>- Montant : {{noteASupprimer.montant}} € </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="c('Close click')">Annuler</button>
            <button type="button" class="btn btn-success" (click)="c(supprimer(noteASupprimer.id))">Valider</button>
        </div>
    </ng-template>

    <!-- Add note + Edit note -->
    <form [formGroup]="noteForm">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h5 *ngIf="noteAModifier==null" class="modal-title">Ajout d'une ligne de frais</h5>
                <h5 *ngIf="noteAModifier!=null" class="modal-title">Modification d'une ligne de frais</h5>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row form-group">
                    <label class="col-5" for="inlineFormInputGroupddd">Date</label>
                    <div class="input-group col-5 offset-1" id="inputGroupFormNote">
                        <input id="inlineFormInputGroupddd" class="form-control" id="dateDebut" placeholder="dd/mm/yyyy" (ngModel)="date" ngbDatepicker
                            #date1="ngbDatepicker" date-format="DD/MM/YYYY" formControlName="date">
                        <button class="input-group-addon" (click)="date1.toggle()" type="button" id="button_dtd">
                            <img src="/assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                        </button>
                    </div>
                </div>

                <div class="row form-group">
                    <!-- Nature -->
                    <label class="col-5" for="inlineFormInputGroupddd">Nature </label>
                    <div class="col-5 offset-1" id="inputGroupFormNote">
                        <select class="custom-select select-input" formControlName="nature">
                                <option *ngFor="let natureNote of tabNatureNote" [value]="natureNote|json" >{{natureNote.nom}}</option>
                            </select>
                    </div>
                </div>

                <div class="row form-group">
                    <!-- Montant  -->
                    <label class="col-5" for="inlineFormInputGroupddd">Montant </label>
                    <div class="col-5 offset-1" id="inputGroupFormNote">
                        <input type="number" class="form-control" id="InputMontant" placeholder="Montant" formControlName="montant">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <ul class="list-group offset-1 col-10">

                    <div *ngIf="montant.invalid && (montant.dirty || montant.touched)">
                        <li *ngIf="montant.errors.required" class="list-group-item list-group-item-danger">Le montant doit être renseignée</li>
                        <li *ngIf="montant.errors.min" class="list-group-item list-group-item-danger">Le montant doit être positif</li>
                    </div>
                    <div *ngIf="date.invalid && (date.dirty || date.touched)">
                        <li *ngIf="date.errors.dateIncluseValidator" class="list-group-item list-group-item-danger">{{date.errors.dateIncluseValidator.value}}</li>
                    </div>
                    <div *ngIf="noteForm.errors">
                        <li class="list-group-item list-group-item-danger" *ngIf="noteForm.errors.noteUniqueValidator">{{noteForm.errors.noteUniqueValidator.value}}</li>
                    </div>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="c('Close click');">Annuler</button>
                <button type="button" class="btn btn-success" (click)="sauvegarder();c('Close click')" [disabled]="noteForm.invalid">Valider</button>
            </div>
        </ng-template>
    </form>
</div>